<%= form_for @task_list, url: edittask_path, html: { class: "signin-form" } do |f| %>
  <h1>Edit a task list</h1>
  <div></div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div>
    <%= f.submit "Edit Task List" %>
  </div>
<% end %>